# @package _global_

defaults:
  - _self_
  - data: null # choose datamodule with `test_dataloader()` for evaluation
  - model: null
  - logger: null
  - optional callbacks: null
  - trainer: default.yaml
  - paths: default.yaml
  - extras: default.yaml
  - hydra: default.yaml
  - optional local: default.yaml
  - optional experiment: null

experiment_name: "catchall_experiment"
run_name: "catchall_run"
task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
checkpoint:
  ckpt_path: ???
  weights_only: null
  strict: True
