cellpose-omni @ git+https://github.com/kevinjohncutler/cellpose-omni@v0.8.2
edt==2.3.0
fastremap==1.13.4
imagecodecs==2023.1.23
imageio==2.26.0
joblib==1.2.0
llvmlite==0.39.1
mahotas==1.4.13
mako==1.2.4
MarkupSafe==2.1.2
mgen==1.2.0
natsort==8.3.0
ncolor==1.2.1
networkx==3.0
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omnipose @ git+https://github.com/kevinjohncutler/omnipose.git@v0.3.4
opencv-python-headless==4.7.0.72
packaging==22.0
pbr==5.11.1
pillow==9.4.0
pytorch-ranger==0.1.1
PyWavelets==1.4.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.1
setuptools==67.4.0
threadpoolctl==3.1.0
tifffile==2023.2.27
torch==1.13.1
torch-optimizer==0.3.0
tqdm==4.64.1
typing-extensions==4.5.0
wheel==0.38.4
