name: Tests

on:
  pull_request:
    branches: [main, "release/*"]
  workflow_dispatch:

# Cancel actions when new commits are pushed to PR
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 70
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-latest, macOS-latest, windows-latest]
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.11", "3.12"]
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          use-mamba: true

      - name: Install dependencies
        shell: bash -el {0}
        run: |
          conda activate test
          conda install -c conda-forge -n test fortran-compiler blas-devel
          pip install greenlet
          pip install --no-deps -r requirements/test-requirements.txt
          pip install .

      - name: List dependencies
        shell: bash -el {0}
        run: |
          python -m pip list

      - name: Run pytest
        shell: bash -el {0}
        run: |
          python -m pytest -v

  # upload code coverage report
  code-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.11"

      - name: Install dependencies
        shell: bash -el {0}
        run: |
          conda activate test
          conda install -c conda-forge -n test pip fftw gfortran blas-devel
          pip install --no-deps -r requirements/test-requirements.txt
          pip install .

      - name: Run tests and collect coverage
        shell: bash -el {0}
        run: pytest --cov cyto_dl

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
